.list {
    border: 2px solid #00FF00;
    border-radius: 20px;
}

.table-container {
    height: 60vh;
    width: 65vw;
    overflow: auto;
}

.table-recipes {
    position: relative;
    width: 60vw;
    left: 50px;
    overflow-y: auto;
    overflow-x: auto;
    table-layout: fixed;
}

.table-recipes thead tr th{
    padding: 10px;
}

table tbody tr {
    margin: 20px;
    word-wrap: break-word;
}
.table-recipes tbody td {
    width: 110px;
    word-wrap: break-word;
}

input {
    margin: 20px;
    border-radius: 5px;
    width: 200px;
}

label {
    color: white;
    font-weight: 700;
}

.list button {
     margin: 20px;
     color: green;
     border: 2px solid green;
     background-color: #FFFFFF;
}

