.list {
    border: 2px solid #00FF00;
    border-radius: 20px;
    /* height: 60vh; */
}

.table-container {
    height: 60vh;
    width: 45.25vw;
    overflow: auto;
}

.table-recipes {
    position: relative;
    left: 50px;
    overflow-y: auto;
    overflow-x: auto;
    /* table-layout: fixed; */
}


th {
    position: sticky;
    top: 0;
}

.table-recipes thead tr th{
    padding: 10px;
    background-color: black;
}

table tbody tr {
    margin: 20px;
    word-wrap: break-word;
}
.table-recipes tbody td {
    width: 110px;
    word-wrap: break-word;
    border-bottom: 1px solid white;
}

input {
    margin: 20px;
    border-radius: 5px;
    width: 200px;
}

label {
    color: white;
    font-weight: 700;
}

.list button {
     margin: 20px;
     color: green;
     border: 2px solid green;
     background-color: #FFFFFF;
}

.table-recipes tbody .recipe-button {
    background-color: black;
    border: 0px solid transparent;
    
}

